#card-container{
    text-align: center;
    background: #F7F7F7;
  }
  #card-container .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  #card-container a{
    text-decoration: none;
    outline: none;
  }
  #card-container .card-flyer {
    border-radius: 5px;
  }
  #ccard-container .card-flyer .text-box{
    text-align: center;
  }
  #card-container .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  #card-container .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }

  #card-container .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #card-container .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #card-container .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }