<div class="container">
    <h6>Search here the company</h6>
    <div class="form-group">
        <input type="text" class="form-control" placeholer="Enter keyword for your search" [(ngModel)]="searchKeyword">
    </div>

    <!-- <table class="table">
        <thead>
            <tr>
                <th scope="col">Company Code</th>
                <th scope="col">Company Name</th>
                <th scope="col">Company CEO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies | filter:searchKeyword">
                <td>{{company.companyCode}}</td>
                <td>{{company.companyName}}</td>
                <td>{{company.companyCeo}}</td>
            </tr>
        </tbody>
    </table> -->
    <div id="card-container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <a href="">
                        <div *ngFor="let company of companies | filter:searchKeyword">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="text-container">
                                        <h6>Company Code : {{ company.companyCode }}</h6>
                                        <h4>Company Name : {{ company.companyName }}</h4>
                                        <p>Company Ceo : {{ company.companyCeo }}</p>
                                        <p>Company Turnover : {{ company.companyTurnover }}</p>
                                        <p>Company Website : {{ company.companyWebsite }}</p>
                                        <p>StockExchange : {{ company.stockExchangess }}</p>
                                        <p>StockPrice : {{ company.stockPrice }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</div>