<!-- <app-home-page></app-home-page> -->
<!-- <app-add-company-details></app-add-company-details> -->
<!-- <app-add-stock-price></app-add-stock-price> -->
<!-- <app-get-all-company-details></app-get-all-company-details> -->
<!-- <app-get-company-details></app-get-company-details> -->
<!-- <app-get-stock-details></app-get-stock-details> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EStock</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/add-company">Add Company <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/get-company">View Companies</a>
        <a class="nav-item nav-link" href="/add-stock">Add Stock</a>
        <a class="nav-item nav-link" href="/get-stock">View Stock</a>
        <a class="nav-item nav-link" href="get-companies">View Company</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>