.bg-dark {
background-color: #008080!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}

.navbar-brand {
    font-size: x-large;
    font-family: cursive;
    font-family: unset;
}