/* You can add global styles to this file, and also import other style files */
body {
    background: url('https://img4.goodfon.com/wallpaper/nbig/f/2c/google-inspired-hd-material-design-multicolor-wallpaper-lini.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
