
         <div class="row estock-login">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Login</h5>
                  <p class="card-text">Register the details of the company in stock market </p>
                  <button type="button" class="btn btn-success" (click)="addCompany();">Login</button>

                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sign Up</h5>
                  <p class="card-text">List all the companies registered in the EStock</p>
                  <button type="button" class="btn btn-primary" (click)="getAllCompanies();">Sign Up</button>
                </div>
              </div>
            </div>
           
                </div>
