
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Add company details</h5>
                  <p class="card-text">Register the details of the company in stock market </p>
                  <button type="button" class="btn btn-primary" (click)="addCompany();">Primary</button>

                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">View all company details</h5>
                  <p class="card-text">List all the companies registered in the EStock</p>
                  <button type="button" class="btn btn-primary" (click)="getAllCompanies();">Primary</button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Add stock price</h5>
                    <p class="card-text">Add the stock price details of the company</p>
                    <button type="button" class="btn btn-primary" (click)="addStock();">Primary</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">View all stock details</h5>
                    <p class="card-text">View the stock details of the company registered in EStock</p>
                    <button type="button" class="btn btn-primary" (click)="getStock();">Primary</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">View Company details</h5>
                    <p class="card-text">List the details of the company registered in EStock</p>
                    <button type="button" class="btn btn-primary" (click)="getCompany();">Primary</button>
                  </div>
                </div>
              </div>
          </div>
