
     <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">EStock <i class="fa fa-line-chart" aria-hidden="true"></i></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/add-company">Add Company <span class="sr-only">(current)</span></a> 
            <a class="nav-item nav-link" href="/get-company">View Companies</a>
            <a class="nav-item nav-link" href="/add-stock">Add Stock</a>
            <a class="nav-item nav-link" href="/get-stock">View Stock</a>
            <a class="nav-item nav-link" href="get-companies">View Company</a>
            <a class="nav-item nav-link" href="/dashboard">LogOut</a>
          </div>
        </div>
      </nav>






<div class="container">
    <form [formGroup]="companyForm" (submit)= "send(companyForm)"> 
        <h2 class="text-center">
            ADD COMPANY DETAILS
        </h2>
          <div *ngIf="isPresent" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Company details added successfully!!!</strong>
          </div>
        <div class="row jumbotron">
            
            <div class=" col-sm-6 form-group">
                <label for="companyCode">COMPANY CODE</label> 
                <input type="text" class=" form-control" id="companyCode" formControlName="companyCode" placeholder="Enter the company code" required>
            </div>
            <div class=" col-sm-6 form-group">
                <label for="companyName">COMPANY NAME</label> 
                <input type="text" class="form-control" id="companyName" formControlName="companyName" placeholder="Enter the company name" required>
            </div>
            <div class=" col-sm-6 form-group">
                <label for="companyCeo">COMPANY CEO</label> 
                <input type="text" class="form-control" id="companyCeo" formControlName="companyCeo" placeholder="Enter the name of company ceo" required>
            </div>
            <div class=" col-sm-6 form-group">
                <label for="companyTurnOver">COMPANY TURN OVER</label> 
                <input type="text" class="form-control" id="companyTurnOver" formControlName="companyTurnOver" placeholder="Enter the company turn over" required>
            </div>
            <div class=" col-sm-6 form-group">
                <label for="companyWebsite">COMPANY WEBSITE</label> 
                <input type="text" class="form-control" id="companyWebsite" formControlName="companyWebsite" placeholder="Enter the company website" required>
            </div>
            <div class=" col-sm-6 form-group">
                <label for="stockExchange">STOCK EXCHANGE</label> 
                <input type="text" class="form-control" id="stockExchange" formControlName="stockExchange" placeholder="Enter the stock Exchange" required>
            </div>
            <div class="col-sm-6 form-group mb-0 ">
                <button class="btn btn-primary float-left" [disabled]="!companyForm.valid" >ADD</button>
            </div>
            <div class="col-sm-6 form-group mb-0 ">
                <input name='reset' type="reset" value='Reset' class="btn btn-primary float-right" />     
            </div>
           

        </div>
    </form>
    
</div>
