.container {
    padding-top: 100px;
}
.text-center {
    color: paleturquoise;
    font-family: cursive;
}
.estock-login {
    margin-top : 15%;
    margin-right: 20%;
    margin-left: 20%;
}


.navbar-light .navbar-nav .nav-link {
    color: gold;
    font-size: 30px;
    padding-left: 50px;
    font-family: cursive;
    font-weight: bold;
}

.navbarNavAltMarkup{
    text-align: center;
}
.navbar-light .navbar-brand {
    color: paleturquoise;
    font-size: xx-large;
    font-family: cursive;
}
